body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
}


/*HEADER*/

.header {
    width: 100%;
    height: 270px;
}

.header .ligths {
    width: 18%;
    height: 40%;
    margin-left: 4%;
    margin-top: 2%;
}

.header .logo {
    width: 35%;
    height: 50%;
    margin-left: 10%;
    margin-top: 2%;
}

.header .info {
    text-align: center;
    color: #f9f6f6;
}

.header .info__link {
    color: #4cc9f0;
}

.header .icon {
    font-size: 70px;
    color: #f9f6f6;
    margin-left: 15%;
}

.header .icon:hover {
    color: #ffca3a;
    transition-duration: 0.5s;
}


/*POKEMONS*/

.pokemon__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}


/*CARDS*/

.pokemon__block,
.pokemon__block__back {
    border-radius: 10px;
    padding: 10px;
    background-color: #001233;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
    transition: all 0.25s;
}

.pokemon__block:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.6);
}

.img__container {
    display: flex;
    justify-content: center;
    background-color: #33415c;
}

.img__container img {
    width: 50%;
}

.pokemon__block .pokemon__id {
    text-align: left;
}

.pokemon__block p {
    margin: 5px;
    text-align: center;
    color: #f9f6f6;
}

.name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
}

#spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

.pagination {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.card__container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip__card:hover .card__container {
    transform: rotateY(180deg);
}

.pokemon__block,
.pokemon__block__back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.pokemon__block__back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
}

.stat__name {
    color: #f9f6f6;
}

.pokemon__name {
    color: #f9f6f6;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
}

.pokemon__height,
.pokemon__weight {
    color: #f9f6f6;
    display: inline-block;
    padding: 0 2% 0 2%;
}